.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    padding: 0px 0px 20px 0px;
}

h2{
    padding: 40px 0px;
}

.product-card-container {
    border-style: ridge;
}

img{
    padding: 10px;
}